<p class="text_success">
  test works!
  {{name}}
</p>
<h2>{{2+2}}</h2>
<h2>{{"Welcome " + name}}</h2>
<h2>length of string {{name}} is {{name.length}}</h2>
<h2 [class]="successClass">{{greetUser()}}</h2>
<h2>{{url}} and protocol is {{testProtocol}}</h2>
<!-- pipes format the presentation of data -->
<h2 [class.text_danger]="hasError">{{name | uppercase}}</h2>
<h2>{{123 | currency: 'RSD'}}</h2>
<h2>{{123.567 | number: '2.1-2'}}</h2>
<h2>{{1440253151182 | date: 'mediumDate'}}</h2>

<!-- property binding -->
<input [disabled] = "isDisabled" [id]="myId" type="text" value="Anya">
